/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 13, 2018, 12:17:55 PM
    Author     : inzamamul_web
*/

.file_new {
    visibility: hidden;
    position: absolute;
}
.error {
    color: #cb0e0e;
    padding: 5px;
}
input {
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.79rem;
}

.help-text {
    display: block;
    margin-top: 0.5rem;
}

input:placeholder-shown + label {
    opacity: 0;
    transform: translateY(1rem);
}

.has-dynamic-label {
    position: relative;
    padding-top: 1.5rem;
}

.has-dynamic-label label {
    position: absolute;
    top: 0;
    opacity: 1;
    transform: translateY(0);
    transition: all 0.2s ease-out;
}

input:required + .help-text::before {
    content: '*Required';
    font-size: 13px;
}

input:optional + .help-text::before {
    content: '*Optional';
    font-size: 13px;
}

input:read-only {
    cursor: not-allowed;
}

input:valid {
    border-color:green;
    background-image: url("data:image/svg+xml,%3Csvg width='45px' height='34px' viewBox='0 0 45 34' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-56.000000, -59.000000%29' fill='%232EEC96'%3E%3Cpolygon points='70.1468531 85.8671329 97.013986 59 100.58042 62.5664336 70.1468531 93 56 78.8531469 59.5664336 75.2867133'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

input:invalid {
    border-color: #cb0e0e;
    background-image: url("data:image/svg+xml,%3Csvg width='30px' height='30px' viewBox='0 0 30 30' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E%3Cg stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E%3Cg transform='translate%28-128.000000, -59.000000%29' fill='%23F44336'%3E%3Cpolygon points='157.848404 61.9920213 145.980053 73.8603723 157.848404 85.7287234 154.856383 88.7207447 142.988032 76.8523936 131.119681 88.7207447 128.12766 85.7287234 139.996011 73.8603723 128.12766 61.9920213 131.119681 59 142.988032 70.8683511 154.856383 59'%3E%3C/polygon%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
}

input:invalid:focus {
    border-color: black;
}

input:invalid + .help-text {
    color: #cb0e0e;
}

input[type='email']:invalid + .help-text::before {
    content: 'You must enter a valid email.'
}

input:out-of-range + .help-text::before {
    content: 'Out of range';
}
td, th {
    padding: 5px;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 236px;
}

/* table styling */
table {
    width: 100%
}
table caption {
    margin-bottom: 1rem;
    text-align: left;
    font-weight: 700;
}
th,
td {
    padding: 0.5em 0.75em;
    border: 0 solid white;
    border-bottom-width: 1px;
    text-align: left;
    vertical-align: top
}
th:first-child, td:first-child {
    padding-left: 0;
}
th {
    font-weight: 600;
}
thead {
}
thead td,
thead th {
    border-bottom-width: 2px;
}
tfoot {
}
tfoot td,
tfoot th {
    border-bottom-width: 2px;
}
tbody {
}
tbody tr:last-child {
}
tbody tr:last-child td,
tbody tr:last-child th {
    border-bottom-width: 0;
}

button,
[role='button'],
/*input[type='submit'],*/
input[type='button'],
input[type='reset'] {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: auto;
    height: 2.5rem;
    padding: 0 0.75rem;
    border-radius: 4px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    color: hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 90%);
    transition: background-color 0.1s ease-out;
    cursor: pointer;
}
button:hover:not(:disabled), [role='button']:hover:not(:disabled), input[type='submit']:hover:not(:disabled), input[type='button']:hover:not(:disabled), input[type='reset']:hover:not(:disabled) {
    color: hsl(0, 0%, 25%);
    background-color: rgb(162, 162, 162);
}
/* general form styling */
fieldset {
    margin-bottom: 1rem;
    padding: 0;
    border: 0
}
fieldset:not(:last-child) {
    margin-bottom: 1rem;
}
label {
    display: block;
    margin-bottom: 0.2rem;
    font-weight: 500;
}
input,
select,
textarea {
    outline: 0;
}
/* text input styling */
input[type='text'],
input[type='password'],
input[type='url'],
input[type='email'],
input[type='tel'],
input[type='search'],
input[type='number'],
input[type='date'],
input[type='month'],
input[type='week'],
input[type='datetime-local'],
input[type='color'] {
    display: block;
    height: 2.6rem;
    padding: 0 0.75rem;
    border: 1px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 25%);
}
input[type='text']::-webkit-input-placeholder, input[type='password']::-webkit-input-placeholder, input[type='url']::-webkit-input-placeholder, input[type='email']::-webkit-input-placeholder, input[type='tel']::-webkit-input-placeholder, input[type='search']::-webkit-input-placeholder, input[type='number']::-webkit-input-placeholder, input[type='date']::-webkit-input-placeholder, input[type='month']::-webkit-input-placeholder, input[type='week']::-webkit-input-placeholder, input[type='datetime-local']::-webkit-input-placeholder, input[type='color']::-webkit-input-placeholder {
    color: hsl(0, 0%, 50%);
}
input[type='text']:-ms-input-placeholder, input[type='password']:-ms-input-placeholder, input[type='url']:-ms-input-placeholder, input[type='email']:-ms-input-placeholder, input[type='tel']:-ms-input-placeholder, input[type='search']:-ms-input-placeholder, input[type='number']:-ms-input-placeholder, input[type='date']:-ms-input-placeholder, input[type='month']:-ms-input-placeholder, input[type='week']:-ms-input-placeholder, input[type='datetime-local']:-ms-input-placeholder, input[type='color']:-ms-input-placeholder {
    color: hsl(0, 0%, 50%);
}
input[type='text']::placeholder, input[type='password']::placeholder, input[type='url']::placeholder, input[type='email']::placeholder, input[type='tel']::placeholder, input[type='search']::placeholder, input[type='number']::placeholder, input[type='date']::placeholder, input[type='month']::placeholder, input[type='week']::placeholder, input[type='datetime-local']::placeholder, input[type='color']::placeholder {
    color: hsl(0, 0%, 50%);
}
textarea {
    display: block;
    height: auto;
    padding: 0.5rem 0.75rem;
    border: 1px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 25%);
}
textarea::-webkit-input-placeholder {
    color: hsl(0, 0%, 50%);
}
textarea:-ms-input-placeholder {
    color: hsl(0, 0%, 50%);
}
textarea::placeholder {
    color: hsl(0, 0%, 50%);
}
/* select element styling */
select {
    display: block;
    position: relative;
    /* width: 100%; */
    height: 2.5rem;
    padding: 0 0.75rem;
    border: 1px solid hsl(0, 0%, 75%);
    color: hsl(0, 0%, 25%);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    background-size: 0.75rem;
}
select:focus {
    border: 1px solid #0032a0;
}
/* checkbox styling */
.checkbox {
    position: relative
}
.checkbox label {
    position: relative;
    padding: 0 2rem;
    font-weight: 400;
    cursor: pointer;
}
.checkbox input[type='checkbox'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    pointer-events: none
}
.checkbox input[type='checkbox']:focus + label::before {
    background-color: hsl(0, 0%, 75%);
}
/* radio button styling */
.radio {
    position: relative
}
.radio label {
    position: relative;
    padding: 0 2rem;
    font-weight: 400;
    cursor: pointer;
}
.radio input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0
}
.radio input[type='radio']:focus + label::before {
    background-color: hsl(0, 0%, 75%);
}
/* meter element styling â€“ currently only works in Webkit browsers and Firefox */
meter {
    -webkit-appearance: meter;
    width: 100%;
    background: hsl(0, 0%, 90%);
}
meter::-webkit-meter-bar {
    background: hsl(0, 0%, 90%);
}
/* file input styling 
input[type='file'] {
    clip: rect(0 0 0 0);
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    margin: -1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
}
input[type='file'] + label {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 2.5rem;
    padding: 0 0.75rem;
    border-radius: 4px;
    outline: 0;
    text-decoration: none;
    white-space: nowrap;
    color: hsl(0, 0%, 25%);
    background-color: hsl(0, 0%, 90%);
    transition: background-color 0.1s ease-out;
    cursor: pointer;
    font-weight: normal;
}
input[type='file'] + label:hover:not(:disabled) {
    color: hsl(0, 0%, 25%);
    background-color: rgb(162, 162, 162);
}*/